$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

#home {
  height: 100vh;

  img {
    width: 100%;
    height: auto;
  }

  #console {
    position: absolute;
    bottom: 0; left: 0;
    z-index: 1;
    width: 100%;
    background-color: #515151;
    display: flex;
    align-items: center;
    #consoleInput {
      position: absolute;
      width: 95%;
      height: 100%;
      input {
        height: 100%;
        background: transparent;
        border: none;
      }
    }
    #consoleAction {
      position: absolute;
      right: 0;
      button {
        border-radius: 4px;
        width: 45%;
      }
    }
  }
  #avatar {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 3%; right: 0; left: 0;
    margin: auto auto 5% auto;
    z-index: 1;
    img {
      position: relative;
      max-width: 100%;
      height: auto;
    }

    @media (max-width: $screen-sm-max) {
      bottom: 10%;
      width: 30%;
    }

    #avatarState {
      position: relative;

      #emotion {
        position: absolute;
        bottom: 0;
        margin: auto auto 40% 20%;
        width: 35%;
        z-index: 1;
      }
      #speechBallon {
        -webkit-transform:rotate(310deg);
        -moz-transform: rotate(310deg);
        -ms-transform: rotate(310deg);
        -o-transform: rotate(310deg);
        transform: rotate(310deg);

        position: absolute;
        bottom: 0;
      }
    }
  }
  #outdoor {
    position: absolute;
    width: 30%;
    height: auto;
    bottom: 3%; right: 0;
    margin: auto 2% 10% auto;
    img {
      position: relative;
      max-width: 100%;
      height: auto;
    }
    #outdoor-content {
      position: absolute;
      width: 100%;
      height: 61%;
      top: 0; left: 0;
      background-color: #FFFFFF;
      border: 4px solid #000000;
      img {
        height: 100%;
      }
      #outdoorCarousel,
      #outdoorCarousel .carousel-inner,
      #outdoorCarousel .carousel-item {
        height: 100%;
      }
    }
    @media screen and (max-width: $screen-sm-max){
      bottom: 10%;
      width: 50%;
    }
  }
  #sign-plaque {
    position: absolute;
    width: 7%;
    height: auto;
    bottom: 3%; left: 0;
    margin: auto auto 3% 2%;
    z-index: 2;
    img {
      position: relative;
      max-width: 100%;
      height: auto;
      cursor: pointer;
    }
    @media screen and (max-width: $screen-md-max){
      bottom: 6%;
      width: 10%;
    }
    @media screen and (max-width: $screen-sm-max){
      bottom: 10%;
      width: 14%;
    }
  }
  #sky {
    height: 70%;
  }
  #ground {
    height: 30%;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #FEFEFE;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    #avatarCarousel {
      background-color: #757575;
    }

    #consoleConfig {
      .row {
        .col-md-4 {
          text-align: right;
        }
        margin-bottom: 3px;
      }
    }

    #outdoorConfig {
      .row {
        .col-md-10 {
          .row .col-md-12{
            margin-bottom: 3px;
          }
        }
        .col-md-2 {
          padding: 5px 10px 5px 0px;
          button {
            height: 100%;
            width: 100%;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .sidenav-content {
    margin: 5%;
    .sidenav-widget {
      h5 {
        font-weight: bold;
      }
      hr {
        max-width: 100%;
        margin: 10px 0 25px 0;
      }
      box-shadow: 0 0 6px #a4a4a4;
      padding: 20px 20px;
      border-radius: 10px;
      margin-bottom: 30px;
    }
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .btn-home-edit {
    margin: 10px 10px;
    padding: 10px 20px;
  }

  .btn-home-save {
    margin-bottom: 30px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @keyframes jump {
    0% {transform: translate3d(0, 0, 0) scale3d(1, 1, 1);}
    50% {transform: translate3d(0, -30%, 0) scale3d(0.75, 1.5, 1);}
    100% {transform: translate3d(0, -60%, 0) scale3d(1.5, 0.75, 1);}
  }

  .jump {
    animation: jump .5s linear alternate infinite;
  }

  .sidenav-open {
    width: 30%;
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
}

.swal-modal {
  width: 40%;
  @media (max-width: $screen-sm-max) {
    width: 80%;
  }
}
