<div id="home">

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn"
       ng-click="home.closeWidgetConfiguration()">&times;</a>

    <div class="sidenav-content">
      <h3>Configure seus Widgets</h3>
      <hr>

      <div class="sidenav-widget">
        <h5>Fundo</h5>
        <div id="skyCarousel" class="carousel slide" data-interval="false">
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="carousel-item {{ $index === 0 ? 'active' : '' }}" 
                 ng-repeat="sky in home.skyTextures">
              <img src="{{ sky }}" alt="Los Angeles" style="width:100%; height: 300px;">
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#skyCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#skyCarousel" data-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>

      <div class="sidenav-widget">
        <h5>Chão</h5>
        <div id="groundCarousel" class="carousel slide" data-interval="false">
            
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="carousel-item {{ $index === 0 ? 'active' : '' }}" 
                  ng-repeat="ground in home.groundTextures">
              <img src="{{ ground }}" alt="Los Angeles" style="width:100%; height: 300px;">
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#groundCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#groundCarousel" data-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>

      <div class="sidenav-widget">
        <h5>Box de Boas-vindas</h5>
      </div>

      <div class="sidenav-widget">
        <h5>Outdoor</h5>
      </div>
      
      <button type="button" class="btn btn-block btn-primary">Salvar</button>
    </div>
  </div>

  <div id="sky">
    <button class="btn pull-left" type="button" 
            ng-click="home.openWidgetConfiguration()">
      <i class="fa fa-edit"></i>Editar
    </button>
  </div>
  <div id="ground"></div>
</div>
