#home {
  height: 100vh;
  #sky {
    background-image: url("./img/textures/sky/sky_2.jpg");
    height: 70vh;
  }
  #ground {
    background-image: url("./img/textures/ground/rock.png");
    height: 30vh;
  }
}